/*@import url(https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,400i,700,700i,600,600i);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400i,700,700i,600,600i);
/*@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap); */

/* #################################################################################################### */

:root {
    --bg-body-color: #FCF7F6;
    /* BG */
    --bg-primary-color: #1570b8;
    --texto-primary-color: #FAFAFA;
    --bg-secondary-color: #212121;
    --texto-secondary-color: #FAFAFA;
    --bg-danger-color: #FF0000;
    --texto-danger-color: #FFF;
    --bg-info-color: #37BBED;
    --texto-info-color: #212121;
    --bg-warning-color: #f1c40f;
    --texto-warning-color: #212121;
    --bg-success-color: #3F8839;
    --texto-success-color: #FAFAFA;
    --texto-default-color:#CCC;
    /* CONTENIDO */
    --texto-contenido-color: #212121;
    --texto-contenido-size: 0.90em;
    /* INPUT */
    --texto-input-color: #212121;
    --texto-input-size: 1.2em;
    --borde-input-color: #CCC;
    /* SLIDER */
    --slider-ticks-color: #8ac1ef;
    --slider-handle-color: #8ac1ef;
    /* BTN */
    --opacity-boton: 0.8;
    /* TABLE HOVER COLOR */
    --table-hover-bgcolor: #E0F2F1;
    --table-hover-color: #333;
}

/* #################################################################################################### */

/* ########################################################################################## */

::-webkit-scrollbar {
   /* display: none; */
}

body,
html {
    background-color: var(--bg-body-color) !important;
    color: var(--texto-contenido-color) !important;
    font-size: var(--texto-contenido-size) !important;
    height: 100vh !important;
    user-select: none !important;
    font-weight: 400 !important;
    font-family: Roboto, sans-serif;
}

/* disable swipe down refresh*/

body {
    overscroll-behavior-y: contain !important;
}

.modal-backdrop.in {
    opacity: 0.5;
}
.legend{
    font-size:1.2rem!important;
    color:inherit;
}
.btn {
    border-radius: 5px;
    cursor: pointer!important;
   /*  font-size: 1.1em;
    font-weight: bold;
   width: 100%;*/
    margin-left: 0%;
    -webkit-tap-highlight-color: transparent;
    opacity: var(--opacity-boton);
}


.btn:focus {
    outline: 0;
}

.bg-primary {
    background: var(--bg-primary-color) !important;
    color: var(--texto-primary-color) !important;
}

.bg-secondary {
    background: var(--bg-secondary-color) !important;
    color: var(--texto-secondary-color) !important;
}

.bg-danger {
    background: var(--bg-danger-color) !important;
    color: var(--texto-danger-color) !important;
}

.bg-info {
    background: var(--bg-info-color) !important;
    color: var(--texto-info-color) !important;
}

.btn-primary {
    background: var(--bg-primary-color) !important;
    color: var(--texto-primary-color) !important;
    border-color: var(--bg-primary-color) !important;
}

.btn-outline-primary {
    color: var(--bg-primary-color) !important;
    border-color: var(--bg-primary-color) !important;
}

.btn-secondary {
    background: var(--bg-secondary-color) !important;
    color: var(--texto-secondary-color) !important;
    border-color: var(--bg-secondary-color) !important;
}

.btn-info {
    background: var(--bg-info-color) !important;
    color: var(--texto-info-color) !important;
    border-color: var(--bg-info-color) !important;
}

.btn-default {
    background: transparent!important;
    color: var(--texto-default-color) !important;
    border-color: var(--texto-default-color) !important;
}

.btn-icon{
    font-size:1.3em!important;
}

.separador-menu {
    border-right: 1px solid var(--separador-menu-color) !important;
}


.menu-superior {
    background: var(--bg-primary-color) !important;
    color: var(--texto-primary-color) !important;
}

.menu-inferior {
    background: var(--bg-primary-color) !important;
    color: var(--texto-primary-color) !important;
}

.info {
    font-size: 0.8em;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.8;
    background: var(--bg-secondary-color) !important;
    color: var(--texto-secondary-color) !important;
}

.btn-round {
    background: var(--bg-secondary-color) !important;
    color: var(--texto-secondary-color) !important;
    border-radius: 999em;
    width: 86px;
    height: 86px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    line-height: 1;
    font-size: 36px;
    cursor: pointer;
}

.btn-round span {
    position: absolute;
    bottom: 50px;
    right: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    max-width: 100%;
    background: var(--texto-primary-color) !important;

}

mark {
    background-color: #f1c40f;
}



/*
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ECEFF1;

}
*/
.page-item.active .page-link {
 
    z-index: 1;
   
    color: var(--texto-warning-color) !important;
   
    background-color: var(--bg-warning-color) !important;
   
    border-color: var(--bg-warning-color) !important;
   
  }

.input-fields {
    font-size: var(--texto-input-size) !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    color: var(--texto-input-color) !important;
    border-bottom: 1px solid var(--borde-input-color) !important;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    /*text-align-last: center!important;
    text-align: center!important;*/
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--borde-input-color) !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--borde-input-color) !important;
}

::placeholder {
    color: var(--borde-input-color) !important;
}

.texto-contenido {
    font-size: 1.1em !important;
    color: #333;
}

.texto-blanco {
    color: #FAFAFA;
}

.texto-negro {
    color: #222;
}

th {
    background-color: #E5E5E5 !important;
    border-top: 3px solid #A9A9A9 !important;
    color: #000 !important;
}

.yellow-tooltip+.tooltip>.tooltip-inner {
    background-color: #f1c40f;
    color: #000;
}

.yellow-tooltip+.tooltip>.tooltip-arrow {
    border-bottom-color: #f1c40f;
    color: #000;
}

.captions {
    background-color:#E0E0E0;;
    color: #212121 !important;
    border-top: 3px solid #E0E0E0 !important;
    border-left: 3px solid #E0E0E0 !important;
    border-right: 3px solid #E0E0E0 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
  

}




.bold {
    font-weight: bold;
}

a {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.fixedBottom {
    position: absolute;
    bottom: 0px;
    width: 99%;
    z-index: 1;
}

.fixedTop {
    position: absolute;
    top: 0;
    width: 99.7%;
    z-index: 1;
    margin: 1;
}

p {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

video,
canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0px;
    left: 0px;
}

/*video, canvas {
    transform: scaleX(-1);
    filter: FlipH;
}*/

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important
}

.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important
}

.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2) !important
}

.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2) !important
}

.box-shadow---8dp {
    box-shadow: 8px 0px 10px 1px rgba(0, 0, 0, .14), 3px 0px 14px 2px rgba(0, 0, 0, .12), 5px 0px 5px -3px rgba(0, 0, 0, .2) !important
}

.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2) !important
}

.right-bottom {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.right-top {
    position: fixed;
    top: 95px;
    right: 5px;
}

.left-bottom {
    position: fixed;
    bottom: 5px;
    left: 5px;
}



.right-bottom {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.right-top {
    position: fixed;
    top: 95px;
    right: 5px;
}

.left-bottom {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.table-hover>tbody>tr:hover {
    background: var(--table-hover-bgcolor) !important;
    color: var(--table-hover-color) !important;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}

.form-group.required .col-form-label:after {
    content: " *";
    color: red;
}

.modal-open .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}

.modal-vertical-centered {
    transform: translate(0, 25%) !important;
    -ms-transform: translate(0, 25%) !important;
    /* IE 9 */
    -webkit-transform: translate(0, 25%) !important;
    /* Safari and Chrome */
}

.wrapper {
    float: left;
    clear: left;
    display: table;
    table-layout: fixed;
}

.caja-htas-derecha {
    background: var(--bg-primary-color) !important;
    color: var(--texto-primary-color) !important;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 75px !important;
    height: auto;
    padding: 3px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    cursor: pointer;
    opacity: 1.0 !important;
    z-index: 1;
    text-align: center;
}

img.img-responsive {
    display: table-cell;
    max-width: 100%;
}

.form-horizontal .control-group .form-group {
    margin-bottom: 5px;
}



/*-- curved table ---*/


.table-curved {

    border-radius: 5px;

}

.table-curved th {
    border-left: none;
}

.table-curved th:first-child {
    border-right: 5px;
}

.table-curved th:last-child {
    border-radius: 0 5px 0 0;
}

.table-curved th:only-child {
    border-radius: 5px 5px 0 0;
}

.table-curved tr:first-child td:first-child {
    border-right: 5px;
}

.table-curved tr:last-child td:last-child {
    border-right: 5px;
    border-left: 5px;
}


.table.table-borderless td,
.table.table-borderless th {
	border: 0 !important;
}
.table.table-borderless {
	margin-bottom: 0px;
}


/*-- curved table ---*/

/*-- elimina cursor en las touchscreen --*/

/*
{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
*/

.list-divisor {
    border-radius: 30px !important;
    padding: 5px !important;
    font-weight: bold;
    font-style: italic;
    width: 100% !important;
}

.card-container.card {
    max-width: 485px;
    max-height: 300px;
    height: 100%;
    padding: 15px 15px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #F7F7F7;

    padding: 8px 8px 8px;
    margin: 0 auto 8px;
    margin-top: 8px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.profile-img-card {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    margin: 0 auto 10px;
    display: block;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    min-height: 1em;
    color: #7f8c8d;

}