@-webkit-keyframes vex-pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent;
  }

  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  100% {
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@keyframes vex-pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent;
  }

  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  100% {
    box-shadow: inset 0 0 0 300px transparent;
  }
}

.vex.vex-theme-wireframe {
  padding-top: 160px;
  padding-bottom: 160px;
}

.vex.vex-theme-wireframe .vex-overlay {
  background: rgba(255, 255, 255, 0.4);
}

.vex.vex-theme-wireframe .vex-content {
 /* font-family: "Helvetica Neue", sans-serif;*/
  background: #fff;
  color: #212121;
  border: 2px solid #BDBDBD;
  padding: 2em;
  position: fixed;
  margin: 0 auto;
  /*max-width: 100%;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  line-height: 1.5em;
  font-size: 1.1em;
 
}

.vex.vex-theme-wireframe .vex-content h1,
.vex.vex-theme-wireframe .vex-content h2,
.vex.vex-theme-wireframe .vex-content h3,
.vex.vex-theme-wireframe .vex-content h4,
.vex.vex-theme-wireframe .vex-content h5,
.vex.vex-theme-wireframe .vex-content h6,
.vex.vex-theme-wireframe .vex-content p,
.vex.vex-theme-wireframe .vex-content ul,
.vex.vex-theme-wireframe .vex-content li {
  color: inherit;
}

.vex.vex-theme-wireframe .vex-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.vex.vex-theme-wireframe .vex-close:before {
  position: absolute;
  content: "\00D7";
  font-size: 40px;
  font-weight: normal;
  line-height: 80px;
  height: 80px;
  width: 80px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #1570b8;
}

.vex.vex-theme-wireframe .vex-close:hover:before,
.vex.vex-theme-wireframe .vex-close:active:before {
  color: #1570b8;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-message {
  margin-bottom: .5em;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input select,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input textarea,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="date"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="email"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="month"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="number"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="password"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="search"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="tel"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="time"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="url"],
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="week"] {
  background: #fff;
  width: 100%;
  padding: .25em .67em;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 .25em;
  border: 2px solid #1570b8;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input select:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input textarea:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="date"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="email"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="month"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="number"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="password"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="search"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="tel"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="time"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="url"]:focus,
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  border-style: dashed;
  outline: none;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}

.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.vex.vex-theme-wireframe .vex-dialog-button {
  border-radius: 5px;
  border: 0;
  float: right;
  margin: 0 0 0 .5em;
  font-family: inherit;
  /*text-transform: uppercase;
  letter-spacing: .1em;
 /* font-size: .8em;
  line-height: 1em;*/
  padding: .50em 0.50em;
}

.vex.vex-theme-wireframe .vex-dialog-button.vex-last {
  margin-left: 0;
}

.vex.vex-theme-wireframe .vex-dialog-button:focus {
  -webkit-animation: vex-pulse 1.1s infinite;
  animation: vex-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .vex.vex-theme-wireframe .vex-dialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-primary {
  background: #1570b8;
  color: #fff;
  border: 2px solid transparent;
  border-radius:5px;
}

.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-secondary {
  background: #fff;
  color: #212121;
  border: 2px solid #BDBDBD;
  border-radius:5px;
}

.vex-loading-spinner.vex-theme-wireframe {
  height: 2.5em;
  width: 2.5em;
}